/* Global Settings */

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
}


/* Helper Classes */

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.row {
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


/* Common Settings */


/***** Header *****/

#header {
    position: fixed;
    width: 100%;
    padding: 20px 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#header .logo a {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}

#header .logo a .logo_img {
    background-color: #037EF3;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    height: 60px;
    width: 60px;
    padding: 2.3px 0px 0px 1.3px;
}


/***** Main Navigation *****/


#main-navigation ul {
    display: flex;
    margin-top: 20px;
}

#main-navigation ul li {
    margin: 0px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#main-navigation ul li a {
    display: block;
    color: #fff;
    padding-top: 7px;
    text-decoration: none;
}

#main-navigation ul li.active a,
#main-navigation ul li:hover a {
    color: #037EF3;
}

.btn {
    background-color: #037EF3;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    vertical-align: top;
    display: inline-block;
}


/***** Banner *****/

#banner {
    height: 670px;
    background-position: 100% 27%;
    background-image: url("../Images/Profile\ .jpg");
    background-size: 100% 2550px;
    background-attachment: fixed;
    overflow: hidden;
    position: relative;
}

#banner .snow {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#banner .small {
    background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png");
    animation: snow_large 16s infinite linear;
}

#banner .medium {
    background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png");
    animation: snow_large 13s infinite linear;
}

#banner .large {
    background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png");
    animation: snow_large 10s infinite linear;
}

#banner .large_1,
#banner .medium_1,
#banner .small_1 {
    animation-delay: 5s;
    transform: translateY(-100%);
}

@keyframes snow_large {
    0% {
        transform: translate(0%, -100%);
    }
    100% {
        transform: translate(5%, 100%);
    }
}

#banner .desc {
    position: absolute;
    top: 40%;
    left: 5%;
    z-index: 100;
}

#banner .desc h4 {
    color: #ffd900;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
    margin: 0.5em 0;
}

#banner .desc h3 {
    margin: 0.5em 0;
    color: #fff;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 600;
}

#banner .desc h1 {
    margin: 0.5em 0;
    font-weight: 600;
    font-size: 4em;
    color: #fff;
    text-transform: uppercase;
}


/***** About *****/

#about {
    padding: 50px 0px;
}

#about .container {
    width: 1100px;
}

#about .row {
    flex-wrap: wrap;
    justify-content: space-around;
}

#about .col {
    flex-basis: auto;
    width: 30%;
    margin-bottom: 30px;
}

.headings {
    text-align: center;
}

.headings h5 {
    color: #037ef3;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:0.85em;
    font-weight:400;
}

.headings h2 {
    color: #333338;
    font-size: 36px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 80px;
    font-weight:700;
    text-shadow: 2px 2px 2px rgba(41, 41, 41, 0.15);
}

#about .row .col h5 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #4f4f50;
    margin-bottom: 5px;
    font-size: 0.85em;
    font-weight: 600;
}

#about .row .col .progress{
    height: 0.5rem;
    background-color: #E1E2E2;
}

#about .row .col .progress .graphql-bar{
background-color: yellowgreen;
}

#about .row .col .progress .angular-bar{
    background-color: #FF704D;
    }

#about .row .col .progress .laravel-bar{
    background-color: #E37330;
    }

#about .row .col .progress .html-bar{
    background-color: #7BDCA6;
    }

#about .row .col .progress .css-bar{
    background-color: #BB2C3E;
    }

#about .row .col .progress .bootstrap-bar{
    background-color: #6C92CC;
    }

#about .row .col .progress .sql-bar{
    background-color: #D94D4A;
    }

#about .web .bar:after {
    content: "";
    width: 90%;
    position: absolute;
    height: 100%;
    border-radius: 20px;
    background-color: #037EF3;
}
#about .web .reactBar:after {
    content: "";
    width: 90%;
    position: absolute;
    height: 100%;
    border-radius: 20px;
    background-color: #ffc107;
}
#about .web .Laravelbar:after {
    content: "";
    width: 90%;
    position: absolute;
    height: 100%;
    border-radius: 20px;
    background-color: #dc3545;
}
#about .web .Bootstrapbar:after {
    content: "";
    width: 90%;
    position: absolute;
    height: 100%;
    border-radius: 20px;
    background-color: #17a2b8;
}
#about .web .Expressbar:after {
    content: "";
    width: 90%;
    position: absolute;
    height: 100%;
    border-radius: 20px;
    background-color: #dc3545;
}
#about .web .CSSbar:after {
    content: "";
    width: 90%;
    position: absolute;
    height: 100%;
    border-radius: 20px;
    background-color: #40ff00;
}
#about .web .NodeJsbar:after {
    content: "";
    width: 90%;
    position: absolute;
    height: 100%;
    border-radius: 20px;
    background-color: #40ff00;
}
#about .web .MongoDBbar:after {
    content: "";
    width: 90%;
    position: absolute;
    height: 100%;
    border-radius: 20px;
    background-color: #ffc107;
}
#about .web .reduxBar:after {
    content: "";
    width: 90%;
    position: absolute;
    height: 100%;
    border-radius: 20px;
    background-color: #28a745;
}
#about .web .HTML5bar:after {
    content: "";
    width: 90%;
    position: absolute;
    height: 100%;
    border-radius: 20px;
    background-color: #6c757d;
}


/***** Services *****/

#services {
    padding: 80px 0px 40px;
    background-image: url("https://demo.w3layouts.com/demos_new/template_demo/30-10-2018/recognize_demo_Free/1686477365/web/images/serve.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    text-align: center;
}

#services .headings h2 {
    color: #fff;
    margin-bottom: 50px;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(41, 41, 41, 0.15);
}

#services .headings h5 {
    font-size: 0.85em;
    color: #037ef3;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 4px;

}

#services .buttons {
    margin-bottom: 50px;
}

#services .row {
    flex-wrap: wrap;
    justify-content: space-around;
}

#services .col {
    background-color: rgba(243, 244, 245, 0.17);
    color: #fff;
    text-align: center;
    margin: 0px 20px;
    padding: 50px;
    transition: 0.5s;
}

#services .col i {
    color: #ffd900;
    margin-bottom: 30px;
    font-size: 30px;
}

#services .col:hover {
    background-color: #037EF3;
}

#services .aeo-logo{
    margin-bottom: 1em;
    width:10em;
}


/******* Projects   *****/
#projects {
    padding: 80px 0px 40px;
    text-align: center;
}

#projects .headings h4{
    font-size: 0.85em;
    color: #037ef3;
}

#projects .headings h3{
text-shadow: 2px 2px 2px rgba(41, 41, 41, 0.15);
font-size: 2.5em;
color: #333338;
font-weight: 700;
}

#projects .col {
    background-color: rgba(243, 244, 245, 0.17);
    color: #fff;
    text-align: center;
    margin: 0px 15x;
    padding: 10px;
    transition: 0.5s;
}

#projects .row {
    flex-wrap: wrap;
    justify-content: center;
}

.gridImage{
    width:320px;
    position: relative;
    background: #edf3f3;
    padding: 6px;
    margin-top: 1em;
}

#projects .gridImage h3{
background: #030605;
bottom: 23px;
left: 30px;
opacity: 0;
padding: 0.23em;
position: absolute;
right: 30px;
text-align: center;
visibility: hidden;
transform: scaleX(-1);
transition: all 0.8s ease;
}


#projects .gridImage:hover h3{
    -webkit-transform: scaleX(-1);
    transform: scaleX(1);
    transition: all 0.8s ease;
    visibility: visible;
    opacity: 1;
}

#projects .container a{
    text-decoration: none;
    color: #fff;
}

/****** Experience *********/

#Experience {
    padding: 80px 0px 40px;
    text-align: center;
}

#Experience .headings h4{
    font-size: 0.85em;
    color: #037ef3;
}

#Experience .headings h3{
text-shadow: 2px 2px 2px rgba(41, 41, 41, 0.15);
font-size: 2.5em;
color: #333338;
font-weight: 700;
}

#Experience .experienceCover{
background-image: url("https://demo.w3layouts.com/demos_new/template_demo/30-10-2018/recognize_demo_Free/1686477365/web/images/exp.jpg") ;
background-size: cover;
-webkit-background-size:cover;
}



/*******  Reviews   *******/
#Reviews{
padding: 80px 0px 40px;
background-image: url("https://demo.w3layouts.com/demos_new/template_demo/30-10-2018/recognize_demo_Free/1686477365/web/images/testimonials.jpg");
background-size: cover;
overflow: hidden;
position: relative; 
height: 35vw;
}

#Reviews .headings h4{
    font-size: 0.85em;
    color: #037ef3;
}

#Reviews .headings h2{
text-shadow: 2px 2px 2px rgba(41, 41, 41, 0.15);
font-size: 2.5em;
color: #333338;
font-weight: 700;
}

#Reviews .container{
    overflow: hidden;
}

.testimonialText{
text-align: center;
margin-left:1em;
margin-right:1em;
}

#carousel .carouselItem .testimonialText{
text-transform: uppercase !important;
}

#carousel .carouselItem .testimonialText .largeItem{
    font-size: 3em;
}

#carousel{
    width: 500%;
    animation : carouselItem 5s infinite
}
.endorser{
    text-align: center;
}
.endorser h3{
    margin: 1em 0 0.6em 0;
    color: #333;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: bold;
}

.endorser h4{
    color: #037ef3;
    font-size: 0.7em;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@keyframes carouselItem{
0%,
18%{
    transform: translateX(0%);
}
20%,
38%{
    transform: translateX(-20%);
}
40%,
58%{
    transform: translateX(-40%);
}
60%,
78%{
    transform:translateX(-60%)
}
80%,
100%{
    transform: translateX(-80%);
}
}

#carousel .carouselItem{ 
    width: 20%;
    display: inline-block;
    margin: 0px -2px
}


/******* Contact Me *****/
#contactMe{
padding: 80px 0px 40px;
background-image: url("https://demo.w3layouts.com/demos_new/template_demo/30-10-2018/recognize_demo_Free/1686477365/web/images/contact.jpg");
background-size: cover;
overflow: hidden;
position: relative; 
height: 35vw;
}

#contactMe .headings h3{
color: #037ef3;
font-size: 0.85em;
font-weight: 400;
letter-spacing: 4px;
}

#contactMe .headings h4{
text-shadow: 2px 2px 2px rgba(41, 41, 41, 0.15);
font-size: 2.5em;
font-weight: 700;
color:#fff;
}

#contactMe .row{
margin-top: 5em;
}

#contactMe .row .col{
width: 33%;
margin-left: 2em;
}

#contactMe .row .col .address-info .address-left{
text-align: center;
}

#contactMe .row .col .address-info .address-right{
    text-align: center;
}

#contactMe .row .col .address-info .address-left i{
font-size: 2em;
color: #ffd900;
}

#contactMe .row .col .address-info .address-right h6{
font-size: 0.8em;
letter-spacing: 1px;
margin-top: 1em;
color: #e8e7e7;
}

#contactMe .row .col .address-info .address-right p{
color: #e8e7e7;
line-height: 0.8em;
}



/***** Footer *****/

#footer {
padding: 80px 0px 40px;
}

#footer .container .row .Sectionscol{
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

#footer .container .row{
    padding-bottom: 1.5em;
}
#footer .container .row .Sectionscol ul li a{
    color: #888;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#footer .container .row .logo a .logo_img{
    background-color: #037EF3;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    height: 60px;
    width: 60px;
    padding: 2.3px 0px 0px 1.3px;
}

#footer .container .row .logo .logo_img {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}

#footer .container .row .logo a {
    color: black;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}



#footer .copyrightlinks .copyright p a{
    color: #037ef3;
}
#footer .container .row .OffsetSpace{
    margin-left: 33.3%;
}

#footer .container .row .OffsetSpace .logo a span{
    text-decoration: none;
}

#footer .copyrightlinks{
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;

}

#footer .container .copyrightlinks .SocialMedia ul li{
    display: inline-block;
    list-style: none;
    margin: 0 1em;
}

#footer .container .copyrightlinks .SocialMedia ul {
    display: flex;
}

#footer .container .copyrightlinks .SocialMedia ul li a{
    border: 2px solid #333;
    border-radius: 50%;
    width:32px;
    color:#333;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    height:32px;
}

#footer .container .copyrightlinks .SocialMedia ul li a:hover{
color: #037ef3;
border: 2px solid #037ef3;
}

/* Specific CSS */